<script type="text/javascript" src="/static/weather.js"></script>
<body id="body">
  <!-- dropdown menu-->
  <nav class="navbar navbar-custom navbar-expand-md navbar-dark bg-dark sticky-top">
    <img src="/static/buzzyweatherRESIZE.png" alt="buzzyweather">
    <button class="btn nav-item bg-dark" id="fahrenheit">
      <span>Fahrenheit</span>
    </button>

    <button class="btn nav-item bg-dark" id="celsius">
      <span>Celsius</span>
    </button>

    <button class="btn nav-item bg-dark" id="kelvin">
      <span>Kelvin</span>
    </button>

    <button class="btn darkMode bg-dark" onclick="darkMode()">
      <span class="darkmodesign" id="darkmodesign">Dark Mode</span>
    </button>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/james-busbee-4709b0170">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>


  <p>Hi  <%= name %> </p>
  <!-- reverse geolocated position -->
  <p id="day" class="dayDate text-xs-center"></p>
    <!-- current condition skycon -->
    <div id="canvasContainer"><canvas id="icon"></canvas></div>
      <div id="currentSumContainer">
        <div id="temp"></div>
          <span id="and">and</span>
          <div id="summary"></div>
          <br>
                <span class="currentHighLow">High: <span id="currentHigh" class="currentHighLow"></span></span>
                <br>
                <span class="currentHighLow">Low: <span id="currentLow" class="currentHighLow"></span></span>
            </div>


        <!-- 7 day forecast section -->
        <div id="container2" class="container">
            <span id="weeklyFcTitle">Weekly Forecast</span>
            <div id="weeklyForecast"></div>

            <!-- next 7 days -->
            <hr>
            <div id="forecastIconContainer">
                <div id="fc1" class="fcIcon"><canvas class="forecastIcon" id="icon2"></canvas>
                    <br>
                    <span id="dayName1" class="dayName"></span>
                    <hr>
                    <span id="fcSpan1" class="fcSpan">this will be summary!</span>
                    <span class="fcSumBottom"><hr></span>
                    <span>High: <span id="fcHigh1" class="highLow">Sunrise</span></span>
                    <br>
                    <span>Low: <span id="fcLow1" class="highLow">Sunrise</span></span>
                </div>
                <div id="fc2" class="fcIcon"><canvas class="forecastIcon" id="icon3"></canvas>
                    <br>
                    <span id="dayName2" class="dayName"></span>
                    <hr>
                    <span id="fcSpan2" class="fcSpan">this will be summary!</span>
                    <span class="fcSumBottom"><hr></span>
                    <span>High: <span id="fcHigh2" class="highLow">High</span></span>
                    <br>
                    <span>Low: <span id="fcLow2" class="highLow">Low</span></span>
                </div>
                <div id="fc3" class="fcIcon"><canvas class="forecastIcon" id="icon4"></canvas>
                    <br>
                    <span id="dayName3" class="dayName"></span>
                    <hr>
                    <span id="fcSpan3" class="fcSpan">this will be summary!</span>
                    <span class="fcSumBottom"><hr></span>
                    <span>High: <span id="fcHigh3" class="highLow">Sunrise</span></span>
                    <br>
                    <span>Low: <span id="fcLow3" class="highLow">Sunrise</span></span>
                </div>
                <div id="fc4" class="fcIcon"><canvas class="forecastIcon" id="icon5"></canvas>
                    <br>
                    <span id="dayName4" class="dayName"></span>
                    <hr>
                    <span id="fcSpan4" class="fcSpan">this will be summary!</span>
                    <span class="fcSumBottom"><hr></span>
                    <span>High: <span id="fcHigh4" class="highLow">Sunrise</span></span>
                    <br>
                    <span>Low: <span id="fcLow4" class="highLow">Sunrise</span></span>
                </div>
                <div id="fc5" class="fcIcon"><canvas class="forecastIcon" id="icon6"></canvas>
                    <br>
                    <span id="dayName5" class="dayName"></span>
                    <hr>
                    <span id="fcSpan5" class="fcSpan">this will be summary!</span>
                    <span class="fcSumBottom"><hr></span>
                    <span>High:  <span id="fcHigh5" class="highLow">Sunrise</span></span>
                    <br>
                    <span>Low: <span id="fcLow5" class="highLow">Sunrise</span></span>
                </div>
                <div id="fc6" class="fcIcon"><canvas class="forecastIcon" id="icon1"></canvas>
                    <br>
                    <span id="dayName6" class="dayName"></span>
                    <hr>
                    <span id="fcSpan6" class="fcSpan">this will be summary!</span>
                    <span class="fcSumBottom"><hr></span>
                    <span>High: <span id="fcHigh6" class="highLow">Sunrise</span></span>
                    <br>
                    <span>Low: <span id="fcLow6" class="highLow">Sunrise</span></span>
                </div>
            </div>
        </div>
    </body>
</html>
