<body>
  <div class="login-container">
    <form class="login-form" action="/users/login" method="POST">
      <h1 class="mb-5 font-weight-light text-center text-uppercase"> Buzzy<span class="me">Weather</span></h1>
      <%- include('partials/messages') %>
      <div class="form-group">
        <input type="text" class="form-control rounded-pill form-control-lg" name="name" placeholder="Username or Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control rounded-pill form-control-lg" name="password" placeholder="Password">
      </div>
      <div class="forgot-link d-flex align-items-center justify-content-between">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="remember">
          <label for="remember">Remember Password</label>
        </div>
        <a href="#" id="forgotPass">Forgot Password</a>
      </div>
      <button type="submit" class="btn mt-5 btn-custom btn-block text-uppercase rounded-pill btn-lg">Login</button>
      <p class="mt-3 font-weight-normal">Need an account? <a href="/users/register"><strong>Register Here</strong></a></p>
    </form>
  </div>
</body>
