<body>
  <h1>Register</h1>
  <form action="/register" method="POST">
    <div>
      <label for="name">name</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div>
      <label for="name">name</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div>
      <label for="name">name</label>
      <input type="text" name="name" id="name" required>
    </div>
    <button type="submit" name="button">Register</button>
  </form>
  <a href="/login">Login</a>
</body>
