<head>
  <script type="text/javascript" src="/static/passwordCheck.js"></script>
</head>
<body>
  <div class="register-container">
    <h1 class="mb-5 font-weight-light text-center">Register</h1>
    <form action="/users/register" method="POST" class="register-form">
      <div class="form-group">
        <%- include('partials/messages') %>
        <label for="name">Userame</label>
        <input type="text"
        name="name" id="name"
        class="form-control rounded-pill form-control-lg"
        placeholder="Create Username"
        value="<%= typeof name != 'undefined' ? name : '' %>"
        required >
      </div>
      <div>
        <label for="name">Email</label>
        <input type="text"
        name="email" id="email"
        class="form-control rounded-pill form-control-lg"
        placeholder=" Enter Email"
        value="<%= typeof email != 'undefined' ? email : '' %>"
        required>
      </div>
      <div>
        <label for="name">Password</label>
        <input type="password"
        name="password" id="password"
        class="form-control rounded-pill form-control-lg"
        placeholder="Create Password"
        required>
      </div>
      <div>
        <label for="name">Confirm Password</label>
        <input type="password"
        name="confirmPassword" id="confirmPassword"
        class="form-control rounded-pill form-control-lg"
        placeholder="Confirm Password"
        required>
      </div>
      <div id="passwordCheck"></div>
      <button type="submit" name="button" class="btn mt-5 btn-custom btn-block text-uppercase rounded-pill btn-lg">
        Register
      </button>
      <div class="register-link d-flex text-center">
        <a href="/users/login" id="login">Login</a>
      </div>
    </form>
  </div>
</body>
