<body>
  <div class="register-container">
    <h1 class="mb-5 font-weight-light text-center">Register</h1>
    <form action="/register" method="POST" class="register-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control rounded-pill form-control-lg" required>
      </div>
      <div>
        <label for="name">Email</label>
        <input type="text" name="email" id="email" class="form-control rounded-pill form-control-lg" required>
      </div>
      <div>
        <label for="name">Password</label>
        <input type="text" name="password" id="password" class="form-control rounded-pill form-control-lg" required>
      </div>
      <button type="submit" name="button" class="btn mt-5 btn-custom btn-block text-uppercase rounded-pill btn-lg">
        Register
      </button>
      <div class="register-link d-flex text-center">
        <a href="/login" id="login">Login</a>
      </div>
    </form>
  </div>
</body>
