<div class="welcome-container">
  <div class="welcome text-center">
    <h1 class="mb-2 font-weight-light text-center text-uppercase"> Buzzy<span class="me">Weather</span></h1>
    <h1><img src="/static/buzzyweatherLG.png" alt="buzzyweather"></h1
    <p>Created by James Busbee</p>
    <a href="/users/register" class="btn btn-custom btn-block mb-2 rounded-pill">Register</a>
    <a href="/users/login" class="btn btn-custom btn-block rounded-pill">Login</a>
  </div>
</div>
