body, html {
  height: 100%;
  font-family: "Avenir Next", sans-serif;
}

* {
  box-sizing: border-box;
}


.login-form
{
  max-width: 100%;
  width: 370px;
  padding 15px;
  margin: auto;
}
#forgotPass, label
{
  font-family: "Avenir Next", sans-serif;
  font-weight: lighter;
}
.form-control
{
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}
.form-control:focus
{
  border-color:#723dbe;
  box-shadow: 0 0 0 0.2rem rgba(114,61,190, .25);
}
.forgot-link label
{
    margin-bottom: 0;
}
.login-form a
{
  text-decoration: none;
  color: #666;
}
.login-form a:hover
{
  color: #723dbe;
}
.btn-custom
{
  background: #723dbe;
  border-color: #723dbe;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
btn-custom:focus,
btn-custom:hover,
btn-custom:active,
btn-custom:active:focus
{
  background: #54229d;
  border-color: #54229d;
  color: #fff;
}
.btn-custom:focus
{
  box-shadow: 0 0 0 0.2rem rgba(114,61,190, .25);
}
